<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Measures</title>
  </head>
  <body>
    {% if company_measure_list %}
        <ul>
        {% for company_measure in company_measure_list %}
            <li>{{ company_measure.id_measure }}&nbsp; &nbsp; &nbsp;
                {{ company_measure.id_company }} &nbsp; &nbsp; &nbsp;
                {{ company_measure.value }} &nbsp; &nbsp; &nbsp;
                {{ company_measure.end_date }}</li> <!--tu można dodać wskaźnik jako link odnoszący się do innych wskaźników z taką samą wartością-->
        {% endfor %}
        </ul>
    {% else %}
        <p>No measures are available.</p>
    {% endif %}
  </body>
</html>