.searchPageRow {
    margin: 50px 0 0 0;
    text-align: center;
}
.header {
    font-size: 3vw;
    font-weight: 700;
}
.input {
    margin: 50px 0 0 0;
    outline: none;
    font-size: 2vw;
    border-radius: 30px;
    padding: 15px 30px;

}

@media (max-width: 500px) {
    .input {
        margin: 20px 0 0 0;
    }
}